// colors
$light-blue: #C7E5ED;
$dark-blue: #273B48;
$darkest-blue: #112230;
$element-space-after: 25px;
$element-padding-inside: 7.5px;
$font-size-normal: 1rem;
$font-size-big: 1.5rem;
$font-color-light: white;
$font-color-dark: $dark-blue;
$background-color-dark: $dark-blue;
$input-border-radius: 0.5rem;
