<div class="app-main-header">
  <div class="container">
    <h1>
      Electron Angular Lang Helper
    </h1>
  </div>
</div>
<div class="app-main-subheader">
  <div class="container">
    <p class="text-justify">
      The aim of this application is to help and simplify working with ngx-translate. Namely to simplify work with language jsons. Currently app supports only json files.
    </p>
  </div>
</div>
<hr class="app-main-divider" />
<div class="container">
  <app-lang-files></app-lang-files>
</div>

